AA{% extends "base.html" %}

{% block content %}
 
<div class="container-principal">
 
    <h1 class="titulo">Agenda</h1>
 
    <form method="POST">
<input type="text" name="titulo-tarefa" class="input-bonito" 

              placeholder="Digite a tarefa..." value="{{tarefa_selecionada.titulo_tarefa if 

                tarefa_selecionada else ''}}"required>
<input type="date" name="data-conclusao" class="input-bonito" value="{{tarefa_selecionada.data_conclusao if 

                tarefa_selecionada else ''}}"required>>
 
 
        <button type="submit" class="btn-adicionar">Salvar</button>
 
        {% if tarefa_selecionada %}
<a href="{{url_for ('agenda') }}" class=" btn btn-secondary"> Cancelar </a> 

        {% endif %}
 
    </form>
<h2>Lista de Tarefas</h2>

        {% if tarefas %}
<ul>

            {% for tarefa in tarefas %}
<li>{{ tarefa.titulo_tarefa }} - {{ tarefa.data_conclusao }} 
<a href="{{url_for ('delete', idTarefa=tarefa.id_tarefa) }}"> 🐭 Apagar </a> 
<a href="{{url_for ('update', idTarefa=tarefa.id_tarefa) }}"> 👌Editar </a></li>
 
              <!-- Controle para editar -->

            {% endfor %}
</ul>

        {% else %}
<p>Nenhuma tarefa cadastrada.</p>

        {% endif %}
 
{% endblock %}
 