{% extends "base.html" %}

{% block content %}
<div class="container-principal">
    <h1 class="titulo">Minha Agenda</h1>

    <form method="POST">
        <input type="text" name="titulo-tarefa" class="input-bonito" placeholder="Digite a tarefa..." 
               value="{% if tarefa_selecionada %}{{ tarefa_selecionada.titulo_tarefa }}{% endif %}" required>
        
            <!-- campo para escolher a data -->
        <input type="date" name="data-conclusao" class="input-bonito" 
               value="{% if tarefa_selecionada %}{{ tarefa_selecionada.data_conclusao }}{% endif %}" required>

        <!-- botão muda o texto dependendo se está editando ou criando -->
        <button type="submit" class="btn-adicionar">
            {% if tarefa_selecionada %} Atualizar {% else %} Salvar {% endif %}
        </button>
        
        {% if tarefa_selecionada %}
            <a href="{{ url_for('agenda') }}" style="display: block; text-align: center; margin-top: 10px; color: #ff4d6d;">Cancelar</a>
        {% endif %}
    </form>

    <div style="margin-top: 20px;">
        {% for tarefa in tarefas %}
        <div class="item-tarefa">
            <div>
                <span class="{% if tarefa.concluida == 1 %}concluida-texto{% endif %}">
                    <strong>{{ tarefa.titulo_tarefa }}</strong>
                </span>
                <br>
                <small style="color: #999;">

                     <!-- mostra data de conclusão ou prazo -->
                    {% if tarefa.concluida == 1 %}
                        ✔️ {{ tarefa.data_hora_conclusao }}
                    {% else %}
                        📅 Prazo: {{ tarefa.data_conclusao }}
                    {% endif %}
                </small>
            </div>

            <div>
                <button onclick="mudarStatus({{ tarefa.id_tarefa }})" 
                        class="btn-status {% if tarefa.concluida == 1 %}cor-reabrir{% else %}cor-concluir{% endif %}">
                    {% if tarefa.concluida == 1 %} Reabrir {% else %} Concluir {% endif %}
                </button>
                <a href="{{ url_for('update', idTarefa=tarefa.id_tarefa) }}" style="text-decoration:none;"> ✏️ </a>
                <a href="{{ url_for('delete', idTarefa=tarefa.id_tarefa) }}" style="text-decoration:none;"> 🗑️ </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script>

    // função para mudar o status da tarefa
    function mudarStatus(id) {
        fetch('/status/' + id, { method: 'POST' })
        .then(() => window.location.reload()); // recarrega a página depois
    }
</script>
{% endblock %}
 